/*
========================================================================================
    Test Configuration
========================================================================================
    Defines input files and parameters for pipeline testing
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input  = 'https://raw.githubusercontent.com/nf-core/test-datasets/scrnaseq/samplesheet.csv'
    genome = 'GRCh38'

    // Small test genome
    fasta = 'https://raw.githubusercontent.com/nf-core/test-datasets/scrnaseq/reference/genome.fa'
    gtf   = 'https://raw.githubusercontent.com/nf-core/test-datasets/scrnaseq/reference/genes.gtf'

    // Protocol
    protocol = '10x_3prime'

    // Analysis parameters
    n_hvgs     = 1000
    n_pcs      = 20
    resolution = 0.5
}
